#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

form section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

label {
  margin-left: 3px;
  margin-bottom: 5px;
  font-size: 1.1em;

  align-self: flex-start;
}

input {
  padding: 4px 5px;
  min-width: 280px;
  border-radius: 0px;
  border: 1px solid #000;

  font-size: 1em;
}

.section-title {
  font-size: 1.25em;
  font-style: italic;

  margin-bottom: 10px;
}

label[for="work-description"] {
  margin-top: 8px;
  margin-bottom: 0px;
}

textarea {
  resize: none;

  padding: 5px;
}
